<div class="form-container">
  <h2>{{currentState}} to TreeGenie</h2>
  <div> or <a href="#" (click)="toggleState(); $event.preventDefault()">{{otherState | lowercase}}</a> here</div>
  <form [formGroup]="userDetails" (ngSubmit)="onSubmit()">
    <label for="email-input">Email: </label>
    <input #email id="email-input" type="text" placeholder="Your email" formControlName="email">
    <label for="password-input">Password: </label>
    <input #password id="password-input" type="text" placeholder="*****" formControlName="password">
    <button type="submit" id="user-submit" [disabled]="userDetails.invalid">{{currentState}}</button>
    <ng-container *ngIf="warning">
      <div class="warning">{{ warning }}</div>
    </ng-container>
  </form>
</div>


